<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Primary Meta Tags -->
        <title>{% block title %}{% endblock %}</title>
        <meta name="title" content="Nassim HATTAB | Développeur Web">
        <meta name="description" content="Hello :) Je suis Nassim HATTAB, Développeur Web PHP Symfony.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://nssmhttb.ovh/">
        <meta property="og:title" content="Nassim HATTAB | Développeur Web">
        <meta property="og:description" content="Hello :) Je suis Nassim HATTAB, Développeur Web PHP Symfony.">
        <meta property="og:image" content="https://nssmhttb.ovh/img/nassim-hattab.jpg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="nssmhttb.ovh">
        <meta property="twitter:url" content="https://nssmhttb.ovh/">
        <meta property="twitter:title" content="Nassim HATTAB | Développeur Web">
        <meta property="twitter:description" content="Hello :) Je suis Nassim HATTAB, Développeur Web PHP Symfony.">
        <meta property="twitter:image" content="https://nssmhttb.ovh/img/nassim-hattab.jpg">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preload" href="/build/app.css" as="style" />
        <link rel="preload" href="/build/app.js" as="script" />
        {% block stylesheets %}
        <link rel="stylesheet" href="/build/app.css">
        {% endblock %}

        {% block javascripts %}
        <script src="/build/app.js" defer></script>
           
        {% endblock %}  
    </head>
    <body>
        {% block menu %}
        <nav class="header">
            <a href="{{path ('homepage_route')}}" class="header__logo"> 
                    <img id="logo" src="/img/logo.svg" alt="logo">
                </a>
            <ul>
              <li id="real">
                <a href="{{path ('homepage_route') ~ "#projects"}}">réalisations</a>
              </li>
               <li id="contact">
                <a href="{{path ('contact_route')}}">me contacter</a>
               </li>
            </ul>
            </nav>
        {% endblock %}
        {% for label, messages in app.flashes %}
			{% for message in messages %}
			    <div class="flashes" style="display: none;" data-error-type="{{ label }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}

        {% block body %}{% endblock %}
            
     {# {% include "footer.html.twig" %} #}
     {% block footer %}
        {% include "footer.html.twig" %}
     {% endblock %}
    </body>
</html>
